body {
  background: linear-gradient(#830707, #3a0000);
  padding-top: 2rem;
  min-height: 100vh;
}

.card {
  border: none;
}

.card img {
  height: 400px;
  object-fit: cover;
}

.page-title {
  color: #fff;
}

.page-description {
  color: #c2c2c2;
}

footer {
  height: 300px;
  background-color: #000;
}

footer img {
  height: 100px;
  margin-right: 32px;
}
